/*------------------------------------*\
#FONTS
\*------------------------------------*/

/* ubuntu-regular - latin */
@font-face {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/ubuntu-v14-latin-regular.eot'); /* IE9 Compat Modes */
	src: local('Ubuntu Regular'), local('Ubuntu-Regular'), url('../fonts/ubuntu-v14-latin-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/ubuntu-v14-latin-regular.woff2') format('woff2'), url('../fonts/ubuntu-v14-latin-regular.woff') format('woff'), url('../fonts/ubuntu-v14-latin-regular.ttf') format('truetype'), url('../fonts/ubuntu-v14-latin-regular.svg#Ubuntu') format('svg'); /* Legacy iOS */
}
/* ubuntu-500 - latin */
@font-face {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/ubuntu-v14-latin-500.eot'); /* IE9 Compat Modes */
	src: local('Ubuntu Medium'), local('Ubuntu-Medium'), url('../fonts/ubuntu-v14-latin-500.eot?#iefix') format('embedded-opentype'), url('../fonts/ubuntu-v14-latin-500.woff2') format('woff2'), url('../fonts/ubuntu-v14-latin-500.woff') format('woff'), url('../fonts/ubuntu-v14-latin-500.ttf') format('truetype'), url('../fonts/ubuntu-v14-latin-500.svg#Ubuntu') format('svg'); /* Legacy iOS */
}
/* ubuntu-700 - latin */
@font-face {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/ubuntu-v14-latin-700.eot'); /* IE9 Compat Modes */
	src: local('Ubuntu Bold'), local('Ubuntu-Bold'), url('../fonts/ubuntu-v14-latin-700.eot?#iefix') format('embedded-opentype'), url('../fonts/ubuntu-v14-latin-700.woff2') format('woff2'), url('../fonts/ubuntu-v14-latin-700.woff') format('woff'), url('../fonts/ubuntu-v14-latin-700.ttf') format('truetype'), url('../fonts/ubuntu-v14-latin-700.svg#Ubuntu') format('svg'); /* Legacy iOS */
}

/*------------------------------------*\
#Variables
\*------------------------------------*/

:root {
	/* Global colors */
	--global-color-alpha: #192a9a;
	--global-color-beta: #e2887c;
	--global-color-gamma: #ffa517;

	--global-color-alpha-x-dark: #003049;

	--global-color-neutral-xxxx-light: #ffffff;
	--global-color-neutral: #8b8c9a;

	/* global page settings */
	--global-page-color: var(--global-color-neutral-xxxx-light);
	--global-page-backgroundColor: var(--global-color-alpha);
	--global-selection-backgroundColor: var(--global-color-alpha);

	/* border radius */
	--global-borderRadius: 8px;
	--global-borderWidth: 2px;

	/* transitions */

	/* Baseline settings */
	--global-baseline: 8px;
	--global-whitespace: calc(var(--global-baseline) * 3); /* = 24px */

	--global-whitespace-xs: calc(var(--global-baseline) * 0.5); /* = 4px */
	--global-whitespace-sm: calc(var(--global-baseline) * 1); /*  = 8px */
	--global-whitespace-md: calc(var(--global-baseline) * 2); /*  = 16px */
	--global-whitespace-lg: calc(var(--global-baseline) * 4); /*  = 32px */
	--global-whitespace-xl: calc(var(--global-whitespace) * 2); /*  = 48px */
	--global-whitespace-xxl: calc(var(--global-whitespace) * 3); /*  = 72px */

	/* forms */
	--global-label-color: var(--global-color-neutral-xxxx-light);
	--global-placeholder-color: var(--global-color-neutral-x-light);
	--global-input-backgroundColor: White;
	--global-input-color: var(--global-color-beta);
	--global-input-borderColor: var(--global-color-beta);
	--global-input-hover-borderColor: var(--global-color-neutral-xx-light);
	--global-input-focus-borderColor: var(--global-color-alpha);
	--global-input-error-borderColor: var(--global-color-error);
}
/*------------------------------------*\
#GENERIC
\*------------------------------------*/

/*
    Generic: Page
    ---
    Global page styles + universal box-sizing:
*/

html {
	background-color: var(--global-page-backgroundColor);
	background-image: url(../img/svg/shapes.svg);
	color: var(--global-page-color);
	font-size: 16px;
	line-height: 1.5;
	font-family: 'Ubuntu', Helvetica, arial, sans-serif;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	padding-bottom: 50px;
	display: flex;
	flex-flow: column;
	height: 100vh;
}

@media (min-width: 960px) {
	body {
		padding-bottom: 0px;
	}
	html {
		line-height: 1.6;
	}
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* Customize the background color to match your design.
*/

::-moz-selection {
	background: var(--global-selection-backgroundColor);
	color: white;
	text-shadow: none;
}

::selection {
	background: var(--global-selection-backgroundColor);
	color: white;
	text-shadow: none;
}

/*------------------------------------*\
#Elements
\*------------------------------------*/

/*
Elements: Images
---
Default markup for images to make them responsive
*/

img {
	max-width: 100%;
	vertical-align: top;
}

/*
    Elements: typography
    ---
    Default markup for typographic elements
*/

h1,
h2,
h3 {
	font-weight: 700;
}

h1 {
	font-size: 36px;
	line-height: calc(var(--global-baseline) * 6);
	margin: 0 0 6px;
}

h2 {
	font-size: 32px;
	font-family: "ff-cocon-pro-condensed", Helvetica, sans-serif;
	letter-spacing: 2.5px;
	text-align: center;
	line-height: calc(var(--global-baseline) * 5);
	margin: 0 0 var(--global-whitespace);
}

text {
	font-family: "ff-cocon-pro-condensed", Helvetica, sans-serif;
	font-size: 48px;
	letter-spacing: 0.11em;
}
@media (min-width: 960px) {
	h2 {
		font-size: 48px;
	}
}
@media (min-width: 2600px) {
	h2 {
		font-size: 64px;
		padding-top: 100px;
	}
}

h3 {
	font-size: 26px;
	line-height: calc(var(--global-baseline) * 4);
	padding: 0 0 var(--global-whitespace);
}
@media (min-width: 2600px) {
	h3 {
		font-size: 64px;
	}
}

h4,
h5,
h6 {
	font-size: 16px;
	font-weight: 600;
	line-height: calc(var(--global-baseline) * 3);
	margin: 0 0 var(--global-whitespace);
	color: var(--global-color-alpha);
}

@media (min-width: 2600px) {
	h4 {
		font-size: 48px;
	}
}

p,
ol,
ul,
dl,
table,
address,
figure {
	margin: 0 0 var(--global-whitespace);
}
p {
	margin: 0 0 10px;
}
@media (min-width: 2600px) {
	p {
		font-size: 48px;
	}
}

ul,
ol {
	padding-left: var(--global-whitespace);
}

li ul,
li ol {
	margin-bottom: 0;
}

blockquote {
	font-style: normal;
	font-size: 23px;
	line-height: calc(var(--global-baseline) * 6);
	margin: 0 0 var(--global-whitespace);
}

blockquote * {
	font-size: inherit;
	line-height: inherit;
}

figcaption {
	font-weight: 400;
	font-size: 12px;
	line-height: calc(var(--global-baseline) * 2);
	margin-top: var(--global-whitespace-xxs);
}

hr {
	border: 0;
	height: var(--global-borderWidth);
	background: LightGrey;
	margin: 0 0 var(--global-whitespace);
}

a {
	--link-transition: all var(--global-transitionDuration-alpha) var(--global-transitionEasing-out);
	transition: var(--link-transition);
	color: var(--link-color, var(--global-color-alpha));
	outline-color: var(--link-boxShadowColor);
	outline-width: medium;
	outline-offset: 2px;
}

a:visited {
	color: var(--link-visited-color, var(--global-color-alpha));
}

a:hover {
	color: var(--link-hover-color, var(--global-color-alpha-light));
}

a:active {
	color: var(--link-active-color, var(--global-color-alpha-dark));
}

a:focus {
	color: var(--link-focus-color, var(--global-color-alpha));
}

label,
input {
	display: block;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

/* Firefox */
input[type=number] {
	-moz-appearance: textfield;
}
select {
	width: 100%;
}

input::placeholder {
	color: var(--global-placeholder-color);
}

span {
	color: var(--global-color-beta);
}

text {
	font-size: 24px;
	margin-left: var(--global-whitespace-lg);
}

/*------------------------------------*\
#OBJECTS
\*------------------------------------*/

/*
    Objects: Row
    ---
    Creates a horizontal row that stretches the viewport and adds padding around children
*/

.o-row {
	position: relative;
	padding: 24px 24px 0;
}

.o-row--xs {
	position: relative;
}
@media (min-width: 2100px) {
	.o-row--xs {
		padding-bottom: 100px;
	}
}

/* size modifiers */

.o-row--sm {
	padding-top: 24px;
	padding-bottom: 8px;
}

.o-row--lg {
	padding-top: 48px;
	padding-bottom: 24px;
}

.o-row--xl {
	padding-bottom: 30px;
}

@media (min-width: 768px) {
	.o-row {
		padding-left: 48px;
		padding-right: 48px;
	}

	.o-row-xs {
		padding-left: 48px;
		padding-right: 48px;
	}
}
/*
    Objects: Row
    ---
    Creates a horizontal row that stretches the viewport and adds padding around children
*/

.o-row {
	position: relative;
	padding: var(--global-whitespace) var(--global-whitespace) 0;
}

.o-row--xs {
	position: relative;
}

.o-row--login {
	min-height: 100vh;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}

/* size modifiers */

.o-row--lg {
	padding-top: var(--global-whitespace-lg);
	padding-bottom: var(--global-whitespace);
}

@media (min-width: 768px) {
	.o-row {
		padding-left: var(--global-whitespace-lg);
		padding-right: var(--global-whitespace-lg);
	}

	.o-row--xs {
		padding-left: var(--global-whitespace-lg);
		padding-right: var(--global-whitespace-lg);
	}
}

/*
    Objects: Container
    ---
    Creates a horizontal container that sets de global max-width
*/
.o-container {
	margin-left: auto;
	margin-right: auto;
	max-width: 79.5em; /* 79.5 * 16px = 1272 */
	width: 100%;
}
.o-container__centered {
	width: 100%;
	position: absolute;
	top: 100px;
}

@media (min-width: 1200px) {
	.o-container {
		max-width: 79.5em; /* 79.5 * 16px = 1272 */
	}
}

@media (min-width: 2100px) {
	.o-container {
		max-width: 200em; /* 79.5 * 16px = 1272 */
	}
}
/*
    Objects: section
    ---
    Creates vertical whitespace between adjacent sections inside a row
*/

.o-section {
	position: relative;
}

.o-section + .o-section {
	padding-top: var(--global-whitespace);
}

@media (min-width: 768px) {
	.o-section--lg + .o-section--lg,
	.o-section--xl + .o-section--xl {
		padding-top: var(--global-whitespace-lg);
	}
}

@media (min-width: 992px) {
	.o-section--xl + .o-section--xl {
		padding-top: var(--global-whitespace-xxl);
	}
}

/*
    Objects: Layout
    ---
    The layout object provides us with a column-style layout system. This object
    contains the basic structural elements, but classes should be complemented
    with width utilities
*/

.o-layout {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.o-layout__item {
	width: 100%;
}

.o-layout-answer__gutter {
	margin-right: 60px;
}

.o-layout-answer__gutter + .o-layout-answer__gutter {
	margin-left: 60px;
}

/* gutter modifiers, these affect o-layout__item too */

.o-layout--gutter {
	margin: 0 -12px;
}

.o-layout--gutter > .o-layout__item {
	padding: 0 12px;
}

.o-layout--gutter-sm {
	margin: 0 -6px;
}

.o-layout--gutter-sm > .o-layout__item {
	padding: 0 6px;
}

.o-layout--gutter-lg {
	padding: 20px 0px;
	margin: 0 calc(var(--global-whitespace) * -1);
}

.o-layout--gutter-lg > .o-layout__item {
	padding: 0 var(--global-whitespace);
}

.o-layout--gutter-xl {
	margin: 0 calc(var(--global-whitespace-lg) * -1);
}

.o-layout--gutter-xl > .o-layout__item {
	padding: 0 var(--global-whitespace-lg);
}

/* reverse horizontal row modifier */

.o-layout--row-reverse {
	flex-direction: row-reverse;
}

/* reverse horizontal column */

.o-layout--column {
	flex-direction: column;
}

/* Horizontal alignment modifiers*/

.o-layout--justify-start {
	justify-content: flex-start;
}

.o-layout--justify-end {
	justify-content: flex-end;
}

.o-layout--justify-center {
	justify-content: center;
}

.o-layout--justify-space-around {
	justify-content: space-around;
}

.o-layout--justify-space-evenly {
	justify-content: space-evenly;
}

.o-layout--justify-space-between {
	justify-content: space-between;
}

/* Vertical alignment modifiers */

.o-layout--align-start {
	align-items: flex-start;
}

.o-layout--align-end {
	align-items: flex-end;
}

.o-layout--align-center {
	align-items: center;
}

.o-layout--align-baseline {
	align-items: baseline;
}

/* Vertical alignment modifiers that only work if there is one than one flex item */

.o-layout--align-content-start {
	align-content: start;
}

.o-layout--align-content-end {
	align-content: end;
}

.o-layout--align-content-center {
	align-content: center;
}

.o-layout--align-content-space-around {
	align-content: space-around;
}

.o-layout--align-content-space-between {
	align-content: space-between;
}

/*
    Object: Button reset
    ---
    Small button reset object
*/

.o-button-reset {
	border: none;
	margin: 0;
	padding: 0;
	width: auto;
	overflow: visible;
	background: transparent;

	/* inherit font & color from ancestor */
	color: inherit;
	font: inherit;

	/* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
	line-height: normal;

	/* Corrects font smoothing for webkit */
	-webkit-font-smoothing: inherit;
	-moz-osx-font-smoothing: inherit;

	/* Corrects inability to style clickable `input` types in iOS */
	-webkit-appearance: none;
}

/*------------------------------------*\
#COMPONENTS
\*------------------------------------*/
.c-admin {
	border-radius: 6px;
}
.c-winner {
	background: var(--global-color-gamma);
	padding: 24px 36px;
	border-radius: 6px;
	margin: 0 auto;
	color: var(--global-color-alpha-x-dark);
}
.c-winner h4 {
	color: var(--global-color-alpha-x-dark);
}
.c-winner__silver {
	background: silver;
	height: 85%;
}
.c-winner__silver h3 {
	padding: 0;
}
.c-winner__bronze {
	background: #cd7f32;
	color: var(--global-color-alpha-x-dark);
	height: 80%;
}
.c-winner__bronze h3 {
	padding: 0;
}
.c-winner__bronze h4 {
	background: #cd7f32;
	color: var(--global-color-alpha-x-dark);
}

.c-winner__absolute {
	position: absolute;
	bottom: 0;
	left: 25%;
	margin-left: -50px;
	margin-top: -50px;
}

.c-winner__relative {
	position: relative;
}

@media (min-width: 2600px) {
	.c-winner {
		padding: 56px 102px;
	}
}

.c-activity {
	width: 384px;
	margin: 0 auto;
	position: relative;
}
@media (min-width: 2600px) {
	.c-activity {
		width: 1400px;
	}
}

.c-countdown {
	position: absolute;
	top: -20px;
	right: -50px;
}

.c-answer {
	overflow: hidden;
	box-sizing: content-box;
	padding: 20px 30px;
	text-align: center;
	color: #fff;
	font-size: 32px;
	border-radius: 15px;
	font-weight: 500;
}
.c-answer-svg {
	height: 74px;
	display: flex;
	justify-content: center;
	text-align: center;
}

.c-answer-svg__symbol {
	height: 100%;
}

@media (min-width: 2100px) {
	.c-answer-svg {
		height: 156px;
	}
	.c-answer {
		padding: 40px 50px;
		font-size: 56px;
	}
	.c-question {
		font-size: 56px;
	}
}

.c-background--white {
	background: white;
	color: var(--global-color-alpha);
}

.c-custom-header {
	text-align: center;
}

.rotate-center {
	transform-origin: center center;
	-webkit-animation: rotate-center 2s ease-in-out infinite;
	animation: rotate-center 2s ease-in-out infinite;
}

@-webkit-keyframes rotate-center {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes rotate-center {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
.c-path-1 {
	isolation: isolate;
}

.c-path-2,
.c-path-3,
.c-path-4,
.c-path-5 {
	fill: none;
	stroke-miterlimit: 10;
	stroke-width: 11px;
	transform-origin: center center;
}

.c-path-2 {
	stroke: #ffa517;
}

.c-path-3 {
	stroke: #9be564;
}

.c-path-4 {
	stroke: #295bd4;
}

.c-path-5 {
	stroke: #ff715b;
}

.c-background--white {
	background: white;
	color: var(--global-color-alpha);
}
.c-text--dark {
	color: var(--global-color-alpha-x-dark);
}
@media (min-width: 2600px) {
	.c-text--dark {
		font-size: 40px;
		padding: 20px 0px;
	}
}
@media (min-width: 1200px) {
	.c-align--middle {
		transform: translate(-29px, 0);
	}
}

.u-1-of-6 > .c-image {
	width: 50%;
}

.u-1-of-2:first-child .c-image {
	margin-right: 0px;
}

.u-1-of-2:last-child .c-image {
	margin: 0;
}

.c-image {
	width: 25%;
	margin: 0 auto;
}

.c-image--xl {
	width: 10%;
	justify-content: center;
	margin: 0 auto;
}
.c-image__selection {
	text-align: center;
	justify-content: center;
	display: flex;
	align-self: center;
}
.c-image__svg {
	width: 100%;
}

.u-1-of-3 {
	padding: 32px 0px;
}

/*
    Component: Button
    ---
    Class to put on form buttons or
*/

.c-button {
	position: absolute;
	top: 26px;
	right: 1px;
	font-size: 16px;
	font-weight: 600;
	border-radius: 0 var(--global-borderRadius) var(--global-borderRadius) 0;
	border: 1px solid var(--button-borderColor);
	background-color: var(--global-color-beta);
	color: var(--global-color-alpha);
	line-height: calc(var(--global-baseline) * 3);
	padding: calc(var(--global-baseline) * 1.25) var(--global-whitespace-md);
	outline: none;
	box-shadow: var(--button-boxShadow, 0);
	transition: all var(--global-transitionTiming-alpha) var(--global-transitionEasing-out);
}

.c-button:hover {
	background-color: white;
	color: var(--global-color-beta);
}

.c-button:focus {
	color: var(--global-color-alpha);
	background: var(--global-color-beta);
}

.c-button:active {
	color: var(--global-color-alpha);
}
.c-button--xl {
	position: relative;
	background: var(--global-color-gamma);
	border-radius: 6px;
	padding: 24px 48px;
}
@media (min-width: 1200px) {
	.c-button--xl {
		padding: 24px 104px;
	}
}
@media (min-width: 2100px) {
	.c-button {
		font-size: 32px;
	}
	.c-button--xl {
		padding: 40px 200px;
	}
}

@media (min-width: 2600px) {
	.c-button {
		font-size: 48px;
	}
	.c-button--xl {
		padding: 40px 200px;
	}
}

.c-button__active {
	background-color: var(--global-color-alpha-x-dark);
	color: var(--global-color-gamma);
	opacity: 0.65;
}
.c-button__toggle .c-button__checkbox:active + .c-button__knobs:before {
	width: 46px;
}

.c-button__toggle .c-button__checkbox:checked:active + .c-button__knobs:before {
	margin-left: -26px;
}

.c-button__toggle .c-button__checkbox:checked + .c-button__knobs:before {
	content: '° F';
	left: 42px;
	background-color: var(--global-color-beta);
	z-index: 4;
}
.c-button__toggle .c-button__checkbox:checked + .c-button__knobs:after {
	content: '° C';
	position: absolute;
	top: 4px;
	left: 4px;
	width: 40px;
	height: 30px;
	color: darkgrey;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	line-height: 1;
	padding: 9px 4px;
	background-color: var(--global-color-alpha);
	border-radius: 2px;
	transition: 0.3s ease all, left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15);
}

.c-list {
	max-height: 180px;
	overflow-y: scroll;
}

/* width & height */
::-webkit-scrollbar {
	width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
	background: var(--global-color-alpha);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--global-color-beta);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.c-app {
	/*padding-top: 25px;*/
	flex: 1 1 auto;
	height: 100%;
	width: 100%;
	/*padding-bottom: 100px;*/
}

.c-not-selected {
	color: darkgrey;
}

/*
    Component: avatar
    ---
    Website main avatars
*/

.c-avatar {
	height: 72px;
	display: flex;
	justify-content: center;
	text-align: center;
	margin-bottom: var(--global-whitespace-sm);
}

.c-avatar__symbol {
	height: 100%;
}

.c-avatar__text {
	font-family: "ff-cocon-pro", Helvetica, arial, sans-serif;
	letter-spacing: 3px;
	color: #da7086;
	font-size: 24px;
}
.c-avatar--orange {
	font-family: "Ubuntu", Helvetica, arial, sans-serif;
	color: #e6a34c;
	font-size: 18px;
	font-weight: 500;
}
@media (min-width: 2100px) {
	.c-avatar__text {
		letter-spacing: 3px;
		font-size: 56px;
	}
	.c-avatar--orange {
		font-size: 48px;
	}

	.c-avatar {
		height: 256px;
		margin-bottom: var(--global-whitespace-xl);
	}
}

/*
    Component: svg
    ---
    Website main svg's
*/

.c-svg--sm {
	height: 48px;
	display: flex;
	justify-content: center;
	text-align: center;
}

.c-svg__symbol {
	height: 100%;
}
.c-svg-medal {
	height: 64px;
}

.c-svg-medal__symbol {
	height: 100%;
}
.c-answer-svg {
	height: 32px;
	display: flex;
	justify-content: center;
	text-align: center;
}

.c-answer-svg__garbage {
	height: 100%;
}

@media (min-width: 2100px) {
	.c-svg-medal {
		height: 156px;
	}
}

@media (min-width: 3840px) {
	.c-svg--sm {
		height: 64px;
	}
}
.c-svg__check {
	opacity: 0.5;
}

.c-svg__active {
	opacity: 1;
}

/*
    Component: Logo
    ---
    Website main logo
*/

.c-logo {
	height: 94px;
	display: flex;
	justify-content: center;
	text-align: center;
}

.c-logo__symbol {
	height: 100%;
}

@media (min-width: 2100px) {
	.c-logo__symbol {
		width: 100%;
	}
	.c-logo {
		height: 128px;
	}
	text {
		font-size: 48px;
	}
	#Group_87 {
		transform: translate(100px, -57px);
	}
	#Group_87 > #like {
		height: 128px;
		width: 128px;
		transform: translate(1150px, 50px);
	}
}

@media (min-width: 2600px) {
	.c-logo {
		height: 200px;
	}
	#Group_87 {
		transform: translate(400px, -57px);
	}
}

@media (min-width: 3400px) {
	.c-logo {
		height: 200px;
	}
	#Group_87 {
		transform: translate(600px, -57px);
	}
}

.c-loader {
	height: 256px;
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;
	text-align: center;
}

.c-loader__symbol {
	height: 100%;
}
.c-loader__inside {
	padding: 100px;
}

@media (min-width: 3400px) {
	.c-loader {
		height: 512px;
	}
	.c-loader__inside {
		padding: 100px;
	}
}

/*
    Component: Card
    ---
    Card with box shadow
*/

.c-card {
	--card-borderRadius: var(--global-borderRadius);
	background-color: var(--card-backgroundColor, White);
	margin-bottom: var(--global-whitespace);
	border-radius: var(--card-borderRadius, var(--global-borderRadius));
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 2px 4px rgba(0, 0, 0, 0.075);
	overflow: hidden;
}

/* Add padding to child for more flexibility */
.c-card__body,
.c-card__footer {
	padding: var(--global-whitespace);
}

.c-card__footer {
	text-align: center;
	border-top: var(--global-borderWidth) solid var(--card__footer-borderColor, var(--global-color-neutral-xxx-light));
}

.c-card__title {
	text-align: center;
	font-size: 18px;
	line-height: calc(var(--global-baseline) * 3);
	font-weight: 600;
}

/* This allows c-card__body and __footer to have equal padding everywhere */

.c-card__body > *:last-child,
.c-card__footer > *:last-child,
.c-card__body > *:last-child > *:last-child,
.c-card__footer > *:last-child > *:last-child {
	margin-bottom: 0;
}

@media (min-width: 27em) {
	.c-card__body {
		padding: var(--global-whitespace-xl);
	}

	.c-card__title {
		margin-bottom: var(--global-whitespace-xl);
	}
}

@media (prefers-color-scheme: dark) {
	.c-card {
		--card-backgroundColor: var(--global-color-neutral-xxx-dark);
		--card__footer-borderColor: var(--global-color-neutral-xxxx-dark);
	}
}

/*
    Component: Forms
    ---
    Everything form related here
*/

.c-form-field {
	display: flex;
	justify-content: center;
}
.c-input__middle {
	display: flex;
	width: 100%;
	justify-content: center;
	flex-direction: column;
	position: relative;
}

@media (min-width: 1200px) {
	.c-form-field {
		height: 500px;
	}
	.c-input__middle {
		align-self: center;
		display: flex;
		width: 23%;
		justify-content: center;
		flex-direction: column;
		position: relative;
	}
}

/*
    Component: Input
    ---
    Class to put on all input="text" like form inputs
*/

.c-input {
	--input-transition: all var(--global-transitionDuration-alpha) var(--global-transitionEasing-out);
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 100%;
	letter-spacing: 5px;
	background-color: var(--input-backgroundColor, var(--global-input-backgroundColor));
	color: rgba(226, 136, 124, 0.2);
	font-family: "ff-cocon-pro", Helvetica, arial, sans-serif;
	font-size: 48px;
	line-height: calc(var(--global-baseline) * 3);
	padding: calc(var(--global-baseline) * 1 - var(--global-borderWidth)) var(--global-whitespace-md);
	outline: none;
	transition: var(--input-transition);
	border-radius: var(--input-borderRadius, var(--global-borderRadius));
	border: var(--input-borderWidth, var(--global-borderWidth)) solid var(--global-color-alpha);
}
.c-input--xs {
	font-size: 16px;
	letter-spacing: 0;
	color: rgba(226, 136, 124, 0.6);
}
.c-input--sm {
	font-size: 24px;
}
.c-input__answer {
	border-color: rgba(226, 136, 124, 0.3);
}

.c-input__icon-background {
	position: absolute;
	top: 34px;
	right: 4px;
	background: white;
	padding: 38.5px 28px;
	pointer-events: none;
	border-radius: 0px 6px 6px 0px;
}

.c-input__icon {
	position: absolute;
	top: 20px;
	right: 10px;
	z-index: 99;
}

.c-input:hover {
	border: var(--input-borderWidth, var(--global-borderWidth)) solid var(--input-borderColor, var(--global-input-borderColor));
}

.c-input:focus,
.c-input:active {
	border-color: var(--input-borderColor, var(--global-input-borderColor));
	color: var(--global-input-color);
	box-shadow: var(--global-input-focus-boxShadowSpread) var(--input-focus-boxShadowColor, var(--global-input-focus-boxShadowColor));
}

/*
Input password with toggle checkbox on top of it needs
more padding on the right to avoid overlap
*/

.c-input--password-with-toggle {
	padding-right: 52px;
}

/* input password with floating label */

.c-input--with-floating-label:focus {
	box-shadow: 0 0 0 1px var(--global-input-focus-borderColor);
}

/* option input for checkboxes and radio buttons */

.c-option {
	margin-right: var(--global-whitespace-sm);
}

/*
    Component: Label
    ---
    Class to put on all form labels
*/

.c-label {
	margin-bottom: 0;
	font-size: 32px;
	padding-bottom: var(--global-whitespace-md);
	font-family: "ff-cocon-pro-condensed", Helvetica, arial, sans-serif;
	letter-spacing: 2.5px;
	line-height: calc(var(--global-baseline) * 2);
	color: var(--label-color, var(--global-label-color));
}

.c-label--sm {
	font-size: 24px;
}

.c-label--option {
	padding-bottom: 0;
}

.c-label__error-message {
	font-weight: 600;
	float: right;
	display: none;
}

.c-label__error-message.is-visible {
	display: block;
}

.c-label--floating {
	position: absolute;
	top: calc(var(--global-baseline) * 2);
	left: var(--global-whitespace-sm);
	padding: 0 var(--global-whitespace-sm);
	background-color: var(--label--floating-backgroundColor, var(--global-input-backgroundColor));
	transition: transform var(--global-transitionDuration-alpha) var(--global-transitionEasing-out);
	z-index: 1;
}

.is-floating,
.c-form-field:focus-within .c-label--floating {
	transform: translateY(calc(var(--global-baseline) * -3));
}

@media (prefers-color-scheme: dark) {
	.c-label--floating {
		--label--floating-backgroundColor: transparent;
	}
}

.c-field {
	font-size: 24px;
}

.c-field + .c-field {
	padding-top: 50px;
}

@media (min-width: 2000px) {
	.c-label--sm {
		font-size: 40px;
		padding-bottom: 50px;
	}
	.c-label {
		font-size: 48px;
	}

	.c-field + .c-field {
		padding-top: 100px;
	}

	.c-input--sm {
		font-size: 48px;
		padding: 20px;
	}
	.c-input__middle {
		width: 50%;
	}
}

@media (min-width: 2600px) {
	.c-label--sm {
		font-size: 56px;
		padding-bottom: 50px;
	}
	.c-label {
		font-size: 56px;
		padding-bottom: 50px;
	}

	.c-field + .c-field {
		padding-top: 100px;
	}

	.c-input--sm {
		font-size: 56px;
		padding: 20px;
	}
	.c-input__middle {
		width: 50%;
	}
}

/*
    Component: Button
    ---
    Class to put on form buttons or
*/

.c-submit {
	position: absolute;
	top: 34px;
	width: 50px;
	height: 77.8px;
	right: 5px;
	overflow: hidden;
	box-shadow: var(--button-boxShadow);
}

@media (prefers-color-scheme: dark) {
	..c-submit {
		--button-borderColor: var(--global-color-alpha);
		--button-hover-borderColor: var(--global-color-alpha-light);
		--button-active-borderColor: var(--global-color-alpha-dark);
		--button-focus-borderColor: var(--global-color-alpha-x-dark);
	}
}

@media (min-width: 2100px) {
	.c-submit {
		top: 79px;
	}
	.c-input__icon-background {
		top: 76px;
		padding: 42px 40px;
	}
	.c-input {
		font-size: 64px;
	}
}

@media (min-width: 2600px) {
	.c-submit {
		top: 79px;
	}
	.c-input__icon-background {
		top: 76px;
		padding: 42px 40px;
	}
	.c-input {
		font-size: 64px;
	}
}

/*
    Component: Custom Toggle
    ---
    Visually change a checkbox into a toggle
*/

.c-custom-toggle-list {
	--toggle-list-borderColor: var(--global-color-neutral-xxx-light);
	margin-bottom: 24px;
}

.c-custom-toggle-list__item {
	margin-bottom: 12px;
}

.c-custom-toggle-list__item + .c-custom-toggle-list__item {
	padding-top: 12px;
	border-top: 1px solid var(--toggle-list-borderColor);
}

.c-custom-toggle {
	--toggle-backgroundColor: var(--global-color-neutral-xxxx-light);
	--toggle-borderColor: var(--global-input-borderColor);
	--toggle-focus-borderColor: var(--global-input-focus-borderColor);
	--toggle-checked-borderColor: var(--global-color-alpha-dark);
	--toggle-checked-backgroundColor: var(--global-color-alpha);
	--toggle-focus-boxShadow: var(--global-input-focus-boxShadowSpread) var(--global-input-focus-boxShadowColor);
	--toggle-transition: all var(--global-transitionDuration-alpha) var(--global-transitionEasing-out);
	--toggle__switch-backgroundColor: White;
	--toggle__switch-checked-backgroundColor: White;
	--toggle__switch-transition: all var(--global-transitionDuration-alpha) var(--global-transitionEasing-out);
	display: flex;
	align-items: center;
}

.c-custom-toggle--inverted {
	flex-direction: row-reverse;
	justify-content: space-between;
}

.c-custom-toggle__fake-input {
	display: block;
	height: 24px;
	width: 48px;
	margin-right: 16px;
	background-color: var(--toggle-backgroundColor);
	border-radius: 32px;
	border: 1px solid var(--toggle-borderColor);
	transition: var(--toggle-transition);
	box-shadow: var(--toggle-boxShadow, 0);
}

.c-custom-toggle--inverted .c-custom-toggle__fake-input {
	margin-right: 0;
}

.c-custom-toggle__fake-input::after {
	position: relative;
	display: block;
	content: '';
	height: 22px;
	width: 22px;
	border-radius: 22px;
	box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.2);
	background-color: var(--toggle__switch-backgroundColor);
	transition: var(--toggle__switch-transition);
}

/* focused and active state */

.c-option--hidden:focus + .c-custom-toggle,
.c-option--hidden:active + .c-custom-toggle {
	--toggle-borderColor: var(--toggle-focus-borderColor);
	--toggle-boxShadow: var(--toggle-focus-boxShadow);
}

/* checked state */

.c-option--hidden:checked + .c-custom-toggle {
	--toggle-backgroundColor: var(--toggle-checked-backgroundColor);
	--toggle-borderColor: var(--toggle-checked-borderColor);
	--toggle__switch-backgroundColor: var(--toggle__switch-checked-backgroundColor);
}

.c-option--hidden:checked + .c-custom-toggle .c-custom-toggle__fake-input::after {
	transform: translate(24px, 0);
}

/* special active state */

.c-option--hidden:active + .c-custom-toggle .c-custom-toggle__fake-input::after {
	width: 28px;
}

.c-option--hidden:active:checked + .c-custom-toggle .c-custom-toggle__fake-input::after {
	margin-left: -6px;
}

@media (prefers-color-scheme: dark) {
	.c-custom-toggle-list {
		--toggle-list-borderColor: var(--global-color-neutral-xx-dark);
	}

	.c-custom-toggle {
		--toggle-backgroundColor: var(--global-input-backgroundColor);
		--toggle-checked-borderColor: var(--toggle-checked-backgroundColor);
		--toggle-focus-boxShadow: 0 0 0 1px var(--global-color-neutral-xxxx-dark), var(--global-input-focus-boxShadowSpread) var(--global-input-focus-boxShadowColor);
		--toggle__switch-backgroundColor: var(--global-color-neutral-dark);
		--toggle__switch-checked-backgroundColor: White;
	}
}

/*
    Component: Custom Select
    ---
    Custom select dropdown
*/

.c-custom-select {
	display: block;
	position: relative;
}

.c-custom-select__symbol {
	width: 24px;
	height: 24px;
	position: absolute;
	top: 12px;
	right: 12px;
	pointer-events: none;
	fill: var(--global-color-neutral-x-light);
}

.c-radio:checked + .c-daySelected {
	color: white;
}

/*
    Component: Message
    ---
    Messages
*/
.c-message__loader {
	font-size: calc(var(--global-baseline) * 3.5);
	text-align: center;
}

.c-message__loader-error {
	color: #d8000c;
}

@media (min-width: 2100px) {
	.c-message__loader {
		font-size: calc(var(--global-baseline) * 7);
		text-align: center;
	}
}

/*------------------------------------*\
#OBJECTS
\*------------------------------------*/

.o-hidden {
	display: none;
}

/*
    Objects: List
    ---
    Small reusable object to remove default list styling from lists
*/

.o-list {
	list-style: none;
	padding-left: 0px;
}

li span {
	display: block;
	font-size: 2rem;
}

/*
    Object: Hide accessible
    ---
    Accessibly hide any element
*/

.o-hide-accessible {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

/*------------------------------------*\
#States
\*------------------------------------*/

.has-error {
	--label-color: var(--global-color-error);
	--input-borderColor: var(--global-input-error-borderColor);
	--input-hover-borderColor: var(--global-input-error-borderColor);
	--input-focus-borderColor: var(--global-input-error-borderColor);
	--input-focus-boxShadowColor: var(--global-input-error-boxShadowColor);
}

/*------------------------------------*\
#UTILITIES
\*------------------------------------*/
.u-border-right {
	border-right: solid 4px;
	height: 48px;
}

.u-font-size--lg {
	font-size: 32px;
	font-weight: 700;
}

@media (min-width: 2600px) {
	.u-font-size--lg {
		font-size: 104px;
	}
}

.u-align-middle-svg {
	display: flex;
	justify-content: center;
	align-items: center;
}

.u-align-center-clear {
	align-items: baseline;
}

.u-background-yellow {
	background: #ffa517;
}
.u-background-red {
	background: #ff715b;
}
.u-background-green {
	background: #9be564;
}
.u-background-blue {
	background: #295bd4;
}

.u-margin__0 {
	margin: 0;
}

/*
    Utilities: Grid span

*/

.u-grid-span--2 {
	grid-column: span 2;
}
.u-grid-span--2x3 {
	grid-column: span 2;
	grid-row: span 3;
}
.u-grid-span--4 {
	grid-column: span 4;
}
.u-grid-span--4x2 {
	grid-column: span 4;
	grid-row: span 2;
}
.u-grid-span--6x3 {
	grid-column: span 6;
	grid-row: span 3;
}
.u-grid-span--6 {
	grid-column: span 6;
}
.u-grid-span--8 {
	grid-column: span 8;
}
.u-grid-span--12 {
	grid-column: span 12;
}

@media (min-width: 550px) {
	.u-grid-span--2 {
		grid-column: span 3;
	}
	.u-grid-span--2x3 {
		grid-column: span 3;
		grid-row: span 6;
	}
	.u-grid-span--4 {
		grid-column: span 6;
	}
	.u-grid-span--4x2 {
		grid-column: span 6;
		grid-row: span 4;
	}
	.u-grid-span--6x3 {
		grid-column: span 4;
		grid-row: span 3;
	}
	.u-grid-span--6 {
		grid-column: span 4;
	}
}

@media (min-width: 950px) {
	.u-grid-span--2 {
		grid-column: span 2;
	}
	.u-grid-span--2x3 {
		grid-column: span 2;
		grid-row: span 6;
	}
	.u-grid-span--4 {
		grid-column: span 4;
	}
	.u-grid-span--4x2 {
		grid-column: span 4;
		grid-row: span 4;
	}
	.u-grid-span--6x3 {
		grid-column: span 4;
		grid-row: span 3;
	}
	.u-grid-span--6 {
		grid-column: span 4;
	}
}

@media (min-width: 1200px) {
	.u-grid-span--2 {
		grid-column: span 2;
	}
	.u-grid-span--2x3 {
		grid-column: span 2;
		grid-row: span 3;
	}
	.u-grid-span--4 {
		grid-column: span 4;
	}
	.u-grid-span--4x2 {
		grid-column: span 4;
		grid-row: span 2;
	}
	.u-grid-span--6x3 {
		grid-column: span 4;
		grid-row: span 3;
	}
	.u-grid-span--6 {
		grid-column: span 6;
	}
	.u-grid-span--8 {
		grid-column: span 8;
	}
	.u-grid-span--12 {
		grid-column: span 12;
	}
}

/*
    Utilities: color
    ---
    Utility classes to put specific colors onto elements
*/

.u-color-neutral {
	color: var(--global-color-neutral);
}

.u-color-neutral-dark {
	color: var(--global-color-neutral-dark);
}

/*
    Utilities: spacing
    ---
    Utility classes to put specific margins and paddings onto elements
*/



.u-pt-clear {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.u-plr-clear {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.u-pb-clear {
	padding-bottom: 0 !important;
}

.u-mb-clear {
	margin-bottom: 0 !important;
}

.u-mb-xs {
	margin-bottom: 4px !important;
}

.u-mb-sm {
	margin-bottom: 8px !important;
}

.u-mb-md {
	margin-bottom: 16px !important;
}

.u-pt-md {
	padding-top: 24px !important;
}

.u-mb-lg {
	margin-bottom: 32px !important;
}
.u-pb-lg {
	padding-bottom: 48px !important;
}

.u-mb-xl {
	margin-bottom: 48px !important;
}
.u-pb-xl {
	padding-bottom: 160px !important;
}

.u-mb-xxxl {
	margin-bottom: 128px !important;
}

.u-tr-clear {
	top: 0 !important;
	right: 0;
}

.u-border-bottom {
	border-bottom: 4px solid #192A9A1A;
}

.u-font-size-xl {
	font-size: 32px;
}

@media (min-width: 2600px) {
	.u-font-size-xl {
		font-size: 64px;
	}
}

/*
    Utilities: max-width
    ---
    Utility classes to put specific max widths onto elements
*/

.u-max-width-xs {
	max-width: 27em !important;
}

.u-max-width-sm {
	max-width: 39em !important;
}

.u-max-width-md {
	max-width: 50em !important;
}

.u-max-width-lg {
	max-width: 63.5em !important;
}

.u-max-width-none {
	max-width: none !important;
}

/*
    Utilities: align
    ---
    Utility classes align text or components
*/

.u-align-center {
	margin: 0 auto;
}

/*
    Utilities: text
    Utility classes to create smaller or bigger test
*/

.u-text-sm {
	font-size: 14px;
}

/*
    Utility: Widths
    ---
    Utility classes to put specific widths onto elements
    Will be mostly used on o-layout__item
*/

.u-width-full {
	width: 100% !important;
}

.u-width-auto {
	width: auto !important;
}

.u-1-of-2 {
	width: 50% !important;
}

.u-1-of-3 {
	width: 33.3333333333% !important;
}

.u-2-of-3 {
	width: 66.6666666667% !important;
}

.u-1-of-4 {
	width: 25% !important;
}

.u-3-of-4 {
	width: 75% !important;
}

.u-1-of-5 {
	width: 20% !important;
}

.u-2-of-5 {
	width: 40% !important;
}

.u-3-of-5 {
	width: 60% !important;
}

.u-4-of-5 {
	width: 80% !important;
}

.u-1-of-6 {
	width: 16.6666666667% !important;
}

.u-5-of-6 {
	width: 83.3333333333% !important;
}

@media (min-width: 576px) {
	.u-1-of-2-bp1 {
		width: 50% !important;
	}
	.u-1-of-3-bp1 {
		width: 33.3333333333% !important;
	}
	.u-2-of-3-bp1 {
		width: 66.6666666667% !important;
	}
	.u-1-of-4-bp1 {
		width: 25% !important;
	}
	.u-3-of-4-bp1 {
		width: 75% !important;
	}
	.u-1-of-5-bp1 {
		width: 20% !important;
	}
	.u-2-of-5-bp1 {
		width: 40% !important;
	}
	.u-3-of-5-bp1 {
		width: 60% !important;
	}
	.u-4-of-5-bp1 {
		width: 80% !important;
	}
	.u-1-of-6-bp1 {
		width: 16.6666666667% !important;
	}
	.u-5-of-6-bp1 {
		width: 83.3333333333% !important;
	}
}

@media (min-width: 768px) {
	.u-1-of-2-bp2 {
		width: 50% !important;
	}
	.u-1-of-3-bp2 {
		width: 33.3333333333% !important;
	}
	.u-2-of-3-bp2 {
		width: 66.6666666667% !important;
	}
	.u-1-of-4-bp2 {
		width: 25% !important;
	}
	.u-3-of-4-bp2 {
		width: 75% !important;
	}
	.u-1-of-5-bp2 {
		width: 20% !important;
	}
	.u-2-of-5-bp2 {
		width: 40% !important;
	}
	.u-3-of-5-bp2 {
		width: 60% !important;
	}
	.u-4-of-5-bp2 {
		width: 80% !important;
	}
	.u-1-of-6-bp2 {
		width: 16.6666666667% !important;
	}
	.u-5-of-6-bp2 {
		width: 83.3333333333% !important;
	}
}

@media (min-width: 992px) {
	.u-1-of-2-bp3 {
		width: 50% !important;
	}
	.u-1-of-3-bp3 {
		width: 33.3333333333% !important;
	}
	.u-2-of-3-bp3 {
		width: 66.6666666667% !important;
	}
	.u-1-of-4-bp3 {
		width: 25% !important;
	}
	.u-3-of-4-bp3 {
		width: 75% !important;
	}
	.u-1-of-5-bp3 {
		width: 20% !important;
	}
	.u-2-of-5-bp3 {
		width: 40% !important;
	}
	.u-3-of-5-bp3 {
		width: 60% !important;
	}
	.u-4-of-5-bp3 {
		width: 80% !important;
	}
	.u-1-of-6-bp3 {
		width: 16.6666666667% !important;
	}
	.u-5-of-6-bp3 {
		width: 83.3333333333% !important;
	}
}
.u-align-text-center {
	text-align: center;
}

@media (min-width: 1200px) {
	.u-1-of-2-bp4 {
		width: 50% !important;
	}
	.u-1-of-3-bp4 {
		width: 33.3333333333% !important;
	}
	.u-2-of-3-bp4 {
		width: 66.6666666667% !important;
	}
	.u-1-of-4-bp4 {
		width: 25% !important;
	}
	.u-3-of-4-bp4 {
		width: 75% !important;
	}
	.u-1-of-5-bp4 {
		width: 20% !important;
	}
	.u-2-of-5-bp4 {
		width: 40% !important;
	}
	.u-3-of-5-bp4 {
		width: 60% !important;
	}
	.u-4-of-5-bp4 {
		width: 80% !important;
	}
	.u-1-of-6-bp4 {
		width: 16.6666666667% !important;
	}
	.u-5-of-6-bp4 {
		width: 83.3333333333% !important;
	}
}

/*------------------------------------*\
#MEDIA
\*------------------------------------*/

/*
    Media Queries
    ---
    EXAMPLE Media Queries for Responsive Design.
    These examples override the primary ('mobile first') styles.
    USE THEM INLINE!
*/

/* Extra small devices (portrait phones, less than 576px)
No media query since this is the default in mobile first design
*/

/* Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}
*/

/* Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}
*/

/* Large devices (landscape tablets, desktops, 992px and up)
@media (min-width: 992px) {}
*/

/* Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}
*/

/*
    Print styles.
    ---
    Inlined to avoid the additional HTTP request:
    http://www.phpied.com/delay-loading-your-print-css/
*/

@media print {
	*,
	*:before,
	*:after {
		background: transparent !important;
		color: #000 !important;
		/* Black prints faster:
        http://www.sanbeiji.com/archives/953 */
		box-shadow: none !important;
		text-shadow: none !important;
	}
	a,
	a:visited {
		text-decoration: underline;
	}
	a[href]:after {
		content: ' (' attr(href) ')';
	}
	abbr[title]:after {
		content: ' (' attr(title) ')';
	}
	/*
    * Don't show links that are fragment identifiers,
    * or use the `javascript:` pseudo protocol
    */
	a[href^='#']:after,
	a[href^='javascript:']:after {
		content: '';
	}
	pre {
		white-space: pre-wrap !important;
	}
	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}
	/*
    * Printing Tables:
    * http://css-discuss.incutio.com/wiki/Printing_Tables
    */
	thead {
		display: table-header-group;
	}
	tr,
	img {
		page-break-inside: avoid;
	}
	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}
	h2,
	h3 {
		page-break-after: avoid;
	}
}
